---
title:
- Politique de Sécurité des Systèmes d'Information
subtitle:
- Plan d'action
institute:
- Laboratoire de l'Informatique du Parallélisme
lang: fr-FR
documentclass: report
classoption:
- 12pt
- a4paper
top-level-division: chapter
---
\setdefaultlanguage[autospacing=false]{french}

# 1. Argumentaire

{% for group in sections %}
{% set loop0 = loop %}
## {{ loop.index }}. {{ group.id|upper }}: {{ staticdata.title(group.id) }}

{{ group['intro'] if group['intro'] }}

{% for r in group.body %}
{% if staticdata.level(r.id) < 0 %}
### {{ loop0.index }}.{{ loop.index }}. *Pas de règle {{ r.id|upper }}*
{% else %}
### {{ loop0.index }}.{{ loop.index }}. Règle {{ r.id|upper }} ({{ "*" * staticdata.level(r.id) }})

> *{{ staticdata.descr(r.id) }}*

**Status :** {{ r.status }}

{% if r.explanation %}
**Argumentation.**

{{ r['explanation'] }}
{% endif %}

{% if r.discution %}
**Discution.**

{{ r['discution'] }}
{% endif %}


{% endif %}
{% endfor %}
{% endfor %}
# 2. Récapitulatif

| Règle | Date | Charge de travail / m.d.yr⁻¹ | Charge financiere / €.yr⁻¹ |
|-------|------|------------------------------|----------------------------|
{% for group in sections %}
{% for r in group.body %}
{% if staticdata.descr(r.id) is not none %}
| {{ r.id|upper }} | {{ "%10s"|format(r.date) }} | {{ "%3d"|format(r.work|default(0)) }} | {{ "%3d"|format(r.cost|default(0)) }} |
{% endif %}
{% endfor %}
{% endfor %}
