<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Tableau de bord</title>
</head>
<style>
    th, td {
        border: 1px solid;
        padding: 10px 5px;
    }
    tr.chantier-de-mise-en-œuvre-lancé         { background-color: red; }
    tr.dérogée                                 { background-color: white; }
    tr.évaluation-du-chantier-de-mise-en-œuvre { background-color: red; }
    tr.mise-en-œuvre-effective                 { background-color: lightgreen; }
    tr.mise-en-œuvre-en-cours                  { background-color: orange; }
    tr.non-applicable                          { color: gray; text-style: italic;}
</style>
<body>
    <table>
    {% for group in sections %}
        <tr>
            <th colspan="3">{{ group.id|upper }}: {{ staticdata.title(group.id) }}</th>
        </tr>
    {% for rule in group.body %}
        <tr class="{{ rule.status|lower|replace(' ', '-') }}">
            <th>{{ rule.id|upper }}</th>
            <td>{{ "*" * staticdata.level(rule.id) }}</td>
            <td>{{ rule.status }}</td>
        </tr>
    {% endfor %}
    {% endfor %}
    </table>
</body>
</html>
